/*style.css*/
@import "./toggle.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  margin-top: 20px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f9ff;
}

footer {
  font-size: 0.8rem;
  margin-bottom: 10px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

input {
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
  border: 1px solid black;
}

button {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid black;
  cursor: pointer;
}

.search-area {
  display: grid;
  gap: 0;
  grid-template-columns: 2fr 70px 30px;
}

.location-name {
  margin-right: 10vw;
}

.input-alert {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: yellow;
  padding: 10px;
  border: 5px red dotted;
  font-weight: 600;
}

.output {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.current {
  animation: append-animate 0.3s linear;
  margin-top: 20px;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: auto;
  background-color: #bae6fd;
  padding: 10px 20px 10px 25px;
  border-radius: 10px;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
}

.weather-stats {
  padding: 10px;
  list-style-type: none;
}

.weather-stats li {
  width: auto;
}

.forecast {
  animation: append-animate 0.5s linear;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 20px;
  padding: 10px;
  background-color: #bae6fd;
  border-radius: 8px;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
}

.daily {
  animation: append-animate 0.8s linear;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.daily:hover {
  background-color: #38bdf8;
}

.forecast-temp-min {
  color: blue;
}

.forecast-temp-max {
  color: red;
}

@media only screen and (max-width: 600px) {
  .current {
    width: 90vw;
  }
  .forecast {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
  }
  .location-name {
    width: 150px;
    margin-right: 10vw;
  }
}
