/*style.css*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

input {
  padding: 5px;
  margin: 2px;
  border-radius: 8px;
  border: 1px solid black;
}

button {
  padding: 5px;
  border-radius: 8px;
  border: 1px solid black;
}

.output {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.current {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50vw;
  background-color: lightblue;
  padding: 10px;
  border-radius: 10px;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
}

.weather-stats {
  padding: 10px;
  list-style-type: none;
}

.forecast {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 20px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 8px;
  border-bottom: 1px dotted black;
  border-right: 1px dotted black;
}

.daily {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.forecast-temp-min {
  color: blue;
}

.forecast-temp-max {
  color: red;
}
